#bigbox{
    width: 1000px;
    height: 700px;
    margin-top: 162px;
    margin-bottom: 162px;
    margin-left: 240px;
}
#image-box{
    float:left;    
}
#sign-in-box{
    float: left;
    width: 140px;
    height: 49px;
    margin-left: 172px;
    margin-top: 78px;
    color: black;
    font-size: 20px;
}
#email{
    float: left;
    width: 162px;
    height: 15px;
    margin-left: 94px;
    margin-top: 95px;
    color: #A7A7A7;

}
#password{
    float: left;
    width: 162px;
    height: 15px;
    margin-left: 94px;
    margin-top: 29px;
    color: #A7A7A7;
}
#login{
    float: left;
    margin-top: 62px;
    margin-left: 94px;
    background-color: #807E7E;
    width: 296px;
    height: 32px;
    border-radius: 5px;
    border: 0px;
}
#l{
    width: 52px;
    height: 17px;
    margin-left: 120px;
    margin-top: 2px;
    color: white;
}
#withgoogle{
    float: left;
    margin-left: 189px;
    margin-top: 41px;
    color: #B6B3B3;
}
#google{
    float: left;
    border: 4px;
    border-style: solid;
    border-color: #1F89EB;
    width: 296px;
    height: 43px;
    margin-left: 94px;
    margin-top: 33px;
}
#goo{
    width: 33px;
    height: 32px;
    margin-top: 5px;
    margin-left: 65px;
}
#gotext{
    float: right;
    width: 124px;
    height: 18px;
    font-size: 15px;
    margin-top: 13px;
    margin-right: 59px;
    color:#1F89EB;
}